:root {
  font: 20px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(60, 64, 67);
  color: white;
  font-family: 'Bebas Neue', cursive;
}

a:link {
  color: white;
}

a:visited {
  color: darkgray;
}

a:hover {
  color: darkred;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
  text-align: center;
  font-size: 1.5rem;
}

img {
  height: 30rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  color: white;
  flex-direction: row;
}

.bandNames {
  font-size: 1.25rem;
  margin-right: 0.1rem;
  align-self: center;
  display: flex;
  width: auto;
  padding: 1rem;
  color: darkred;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.bandDescribe {
  margin-left: 3rem;
  text-align: center;
  width: auto;
  display: flex;
  align-self: center;
  justify-items: left;
  text-align: justify;
  margin-right: 2rem;
}

.dmb,
.anjunabeats,
.gramatik {
  display: flex;
  text-align: center;
  width: auto;
  justify-content: center;
}

.dmb img,
.anjunabeats img,
.gramatik img {
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 1rem;
}

.names {
  margin-top: 1rem;
  font-size: 2rem;
  color: darkred;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
